/* Adapted heavily from Skeleton CSS */

/* Grid
-------------------------------------------------- */
.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

@media (max-width: 999px) {
  .container {
    width: 80%;
  }
  .column,
  .columns {
    margin-left: 4%;
    clear: both;
  }
  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }

  .one.column,
  .one.columns,
  .two.columns,
  .three.columns,
  .four.columns,
  .five.columns,
  .six.columns,
  .seven.columns,
  .nine.columns,
  .ten.columns,
  .eleven.columns,
  .twelve.columns {
    width: 100%;
    margin-left: 0;
  }
}
@media (min-width: 1000px) {
  .container {
    width: 80%;
  }
  .column,
  .columns {
    margin-left: 4%;
  }
  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }

  .one.column,
  .one.columns {
    width: 4.66666666667%;
  }
  .two.columns {
    width: 13.3333333333%;
  }
  .three.columns {
    width: 22%;
  }
  .four.columns {
    width: 30.6666666667%;
  }
  .five.columns {
    width: 39.3333333333%;
  }
  .six.columns {
    width: 48%;
  }
  .seven.columns {
    width: 56.6666666667%;
  }
  .eight.columns {
    width: 65.3333333333%;
  }
  .nine.columns {
    width: 74%;
  }
  .ten.columns {
    width: 82.6666666667%;
  }
  .eleven.columns {
    width: 91.3333333333%;
  }
  .twelve.columns {
    width: 100%;
    margin-left: 0;
  }
}

/* Base Styles
-------------------------------------------------- */
body {
  line-height: 1.6;
  font-family: 'Nunito', sans-serif;
  color: #222;
  background-color: black;
}

button,
input[type='submit'],
input[type='button'] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

input[type='text'],
textarea {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  margin-right: 1em;
  box-shadow: none;
  box-sizing: border-box;
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.button:hover,
button:hover,
input[type='submit']:hover,
input[type='button']:hover,
.button:focus,
button:focus,
input[type='submit']:focus,
input[type='button']:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}

input[type='text']:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}

/* Scrollbar
-------------------------------------------------- */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #999;
}

::-webkit-scrollbar-thumb {
  background: #222;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}

/* Top-Matter
-------------------------------------------------- */
.name {
	font-size: 2.5em;
	letter-spacing: 10px;
  color: #aaa;
  text-shadow: 0;
  transition: all 1s ease-in-out;
  margin-top: 0.5em;
}

.name:hover {
  letter-spacing: 14px;
  color: #eee;
  text-shadow: 0 3px 5px #999;
  transform: translateY(-3px);
}

.top-matter {
  margin: 0.75em 0 2em 0;
}

.top-matter-input {
  color: black;
  border: 1px solid #333;
  font-size: 12px;
}

.line {
  color: gray;
  display: inline-block;
  white-space: nowrap;
  margin: auto 0.3em;
  transition: color 0.5s ease-in-out;
}

.line:hover {
  color: white;
}

/* Video and Text Editor
-------------------------------------------------- */
.row {
  display: flex;
  justify-content: center;
}

.video-player {
  padding-bottom: 56.25%;
  height: 0;
  position: relative;
  padding-top: 30px;
  padding-right: 50px;
  overflow: hidden;
  box-shadow: 0 0 5em 15px #1d1d1d;
}

.video-player iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.notes {
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  position: relative;
}

.editor {
  box-sizing: content-box;
  position: absolute;
  left: 0;
  top: 0;
  height: 75vh;
  width: 100%;
  border: 1px solid #333;
  background: none;
  color: #ccc;
  font: 16px monospace;
  resize: none;
  transition: ease-in-out, border 0.35s ease-in-out;
}

.editor:focus {
  border: 1px solid #555;
  outline: 0;
}

.side-editor-container {
  display: block;
}

.bottom-editor-container {
  display: none;
}

@media only screen and (max-width: 999px) {
  .side-editor-container {
    display: none;
  }

  .bottom-editor-container {
    display: block;
  }

  .editor {
    height: 12em;
  }
}
